<div class="m-grid__item m-grid__item--fluid m-wrapper">
    <!-- BEGIN: Subheader -->
    <div class="m-subheader ">
    	<div class="d-flex align-items-center">
    		<div class="mr-auto">
    			<h3 class="m-subheader__title">Social e Mídias</h3>
    		</div>
    		<div>
                <div class="col-7 text-right">
                    <button class="btn btn-info" onclick="$('#contatos').find('.submit:first')[0].click();"><i class="la la-save"></i>&nbsp;Salvar o que foi modificado</button>
                </div>
    		</div>
    	</div>
    </div>
    <!-- END: Subheader -->
    <div class="m-content">
        <div class="row">
    		<div class="col-xl-12 col-lg-8">
    			<div class="m-portlet m-portlet--full-height m-portlet--tabs  ">
    				<div class="tab-content">
    					<div class="tab-pane active" id="contatos">
    						<div class="m-form m-form--fit m-form--label-align-right">
    							<div class="">
                                    <div class="row form-group m-form__group">
                                        <div class="col-10 offset-1">
                                            <div class="row m--margin-bottom-10 m-portlet__body">
												<div class="col-sm-12 p-4 my-2 pt-0 mt-0">
                                                    <h3 style="color: #555; border-bottom: 2px solid #CCC; padding-bottom: 8px; width: 80%;">Configurações Google</h3>
                                                </div>

												<div class="col-lg-4 col-md-6 col-sm-12 p-4 my-2">
                                                    <label>ID Analytics:</label>
                                                    <div class="input-group">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text">
                                                        		<i class="  la-1x  la la-bar-chart"></i>&nbsp;
                                                            </span>
                                                        </div>
                                                        <input type="text" data-name="g_analytics" class="form-control m-input" placeholder="X-XXXXXXXX-X" data-option="text" />
                                                    </div>
                                                </div>
												<!-- <div class="col-lg-1 col-md-0 col-sm-12 p-4 my-2">&nbsp;</div> -->
												<div class="col-lg-4 col-md-6 col-sm-12 p-4 my-2">
                                                    <label>ID Google Tag Manager:</label>
                                                    <div class="input-group">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text">
                                                                <i class="  la-1x  la la-pie-chart"></i>&nbsp;
                                                            </span>
                                                        </div>
                                                        <input type="text" data-name="g_tag_manager" class="form-control m-input" placeholder="X-XXXXXXXX-X" data-option="text" />
                                                    </div>
                                                </div>
												<!-- <hr class="col-sm-4 p-4 mt-4 mb-0" /> -->
												<div class="col-sm-12 p-4 my-2 pt-0 mt-0">
                                                    <h3 style="color: #555; border-bottom: 2px solid #CCC; padding-bottom: 8px; width: 80%;">Contatos</h3>
                                                </div>

												<div class="col-lg-4 col-md-6 col-sm-12 p-4 my-2">
                                                    <label>Whatsapp:</label>
                                                    <div class="input-group">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text">
                                                                <i class="la la-whatsapp"></i>
                                                            </span>
                                                        </div>
                                                        <input type="text" data-name="whatsapp" class="form-control m-input phone" placeholder="(99) 99999-9999" data-option="text" />
                                                    </div>
                                                </div>

												<div class="col-lg-4 col-md-6 col-sm-12 p-4 my-2">
                                                    <label>Telefone Fixo:</label>
                                                    <div class="input-group">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text">
                                                                <i class="  la-1x  la la-phone"></i>&nbsp;
                                                            </span>
                                                        </div>
                                                        <input type="text" data-name="telefone" class="form-control m-input phone" placeholder="(99) 99999-9999" data-option="text" />
                                                    </div>
                                                </div>

                                                <div class="col-lg-4 col-md-6 col-sm-12 p-4 my-2">
                                                    <label>Instagram:</label>
                                                    <div class="input-group">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text">
                                                                <i class="la la-instagram"></i>
                                                            </span>
                                                        </div>
                                                        <input type="text" data-name="instagram" class="form-control m-input" placeholder="https://www.instagram.com/xxxxxxx/" data-option="text" />
                                                    </div>
                                                </div>

												<div class="col-lg-4 col-md-6 col-sm-12 p-4 my-2">
                                                    <label>Email:</label>
                                                    <div class="input-group">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text">
                                                                <i class="la la-envelope"></i>
                                                            </span>
                                                        </div>
                                                        <input type="text" data-name="email" class="form-control m-input" placeholder="xxxxxx@xxxxxx.xxx.xx" data-option="text" />
                                                    </div>
                                                </div>

												<div class="col-sm-12 p-4 my-2 pt-0 mt-0">
                                                    <h3 style="color: #555; border-bottom: 2px solid #CCC; padding-bottom: 8px; width: 80%;">Endereço</h3>
                                                </div>

												<div class="col-lg-2 col-md-6 col-sm-12 p-4 my-2">
                                                    <label>Cep:</label>
                                                    <div class="input-group">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text">
                                                                <i class="  la-1x  la la-clipboard"></i>&nbsp;
                                                            </span>
                                                        </div>
                                                        <input onkeydown="if(event.keyCode == 13){ this.blur(); return false; }" onblur="return pesquisar_cep(this)" type="text" data-name="endereco-cep" class="form-control m-input cep" placeholder="00000-000" data-option="text" />
                                                    </div>
                                                </div>

												<div class="col-lg-4 col-md-6 col-sm-12 p-4 my-2">
                                                    <label>Endereço:</label>
                                                    <div class="input-group">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text">
                                                                <i class="la la-map"></i>
                                                            </span>
                                                        </div>
                                                        <input type="text" data-name="endereco" class="form-control m-input" placeholder="Ex: Rua Gonçalves Dias, 872" data-option="text" />
                                                    </div>
                                                </div>

												<div class="col-lg-3 col-md-6 col-sm-12 p-4 my-2">
                                                    <label>Bairro:</label>
                                                    <div class="input-group">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text">
                                                                <i class="  la-1x  la la-map-marker"></i>&nbsp;
                                                            </span>
                                                        </div>
                                                        <input type="text" data-name="endereco-bairro" class="form-control m-input" placeholder="Ex: Funcionários" data-option="text" />
                                                    </div>
                                                </div>

												<div class="col-lg-3 col-md-6 col-sm-12 p-4 my-2">
                                                    <label>Cidade / Estado:</label>
                                                    <div class="input-group">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text">
                                                                <i class="  la-1x  la la-bandcamp"></i>&nbsp;
                                                            </span>
                                                        </div>
                                                        <input type="text" data-name="endereco-cidade-estado" class="form-control m-input" placeholder="Ex: Belo Horizonte / MG" data-option="text" />
                                                    </div>
                                                </div>

												<div class="col-lg-6 col-md-6 col-sm-12 p-4 my-2">
                                                    <label>Google Maps (URL Link):</label>
                                                    <div class="input-group">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text">
                                                                <i class="la la-globe"></i>
                                                            </span>
                                                        </div>
                                                        <input type="text" data-name="endereco-url" class="form-control m-input" placeholder="https://goo.gl/maps/xxxxxxxxxxxxx" data-option="text" />
                                                    </div>
                                                </div>

												<div class="col p-4 my-2">
                                                    <label>Google Maps (URL Incorpora&ccedil;&atilde;o):</label>
                                                    <div class="input-group">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text">
                                                                <i class="la la-asterisk"></i>
                                                            </span>
                                                        </div>
                                                        <textarea type="text" data-name="endereco-mapa" placeholder="https://www.google.com/maps/embed?pb=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx" rows=3 class="form-control m-input" placeholder="" data-option="text"></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <br />
                                            <hr />
                                            <br />
                                        </div>
                                    </div>
                                </div>
                                <div class="m-portlet__foot m-portlet__foot--fit">
    								<div class="m-form__actions">
    									<div class="row">
    										<div class="col-md-4">
    										</div>
                                            <div class="col-md-4 text-right">
    											<button class="btn btn-info submit btn-block"><i class="la la-save"></i>&nbsp;Salvar o que foi modificado</button>
    										</div>
    									</div>
    								</div>
    							</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script lwdk-addons lwdk-vars="on" src="js/admin/forms/repeater.js"></script>
<script lwdk-addons lwdk-vars="on" src="js/admin/forms/contatos.js"></script>

<script async>
	const pesquisar_cep = (function pesquisar_cep(e){
		function validate(e, state){
			e.classList.remove("is-valid");
			e.classList.remove("is-invalid");
			if(state == false){
				e.classList.add("is-invalid");
				setTimeout(() => e.classList.remove("is-invalid"), 3e3);
			} else {
				e.classList.add("is-valid");
				setTimeout(() => e.classList.remove("is-valid"), 3e3);
			}
			return (state !== false);
		}

		function setVal(input, val){
			return(document.querySelector(`[data-name="${input}"]`).value = val);
		}

		if(LWDK.cep(e.value, function(data){
			(validate(e, data)) && confirm_msg("Deseja localizar o endereço a partir do CEP ?", () => (
				setVal("endereco", data.logradouro),
				setVal("endereco-bairro", data.bairro),
				setVal("endereco-cidade-estado", `${data.localidade} - ${data.uf}`)
			), "question");
		}) == false){
			return validate(e, false);
		}
	});
</script>
