<main id="content" class="content">
    <section class="vc_row py-5 fullheight d-flex flex-wrap align-items-center bg-cover bg-center" style="background-image: url(./assets/img/1.jpg);">
        <div class="container">
            <div class="row">
                <div
                    class="lqd-column col-md-10 col-md-offset-1 text-center"
                    data-custom-animations="true"
                    data-ca-options='{"triggerHandler":"inview", "animationTarget":"all-childs", "duration":"1200", "delay":"150", "easing":"easeOutQuint", "direction":"forward", "initValues":{"translateY":60, "translateZ":-160, "rotateX":-84, "opacity":0}, "animations":{"translateY":0, "translateZ":0, "rotateX":0, "opacity":1}}'
                >
                    <h2 class="text-white mt-0 mb-30" data-split-text="true" data-split-options='{"type":"lines"}' data-fittext="true" data-fittext-options='{"compressor": 0.75, "maxFontSize": 60}'>Mobiliário Corporativo</h2>
                    <div class="row">
                        <div class="lqd-column col-md-10 col-md-offset-1 px-5">
                            <p class="font-size-18 lh-165 text-fade-white-07 px-md-7 mb-50">Sempre atuando com expertise na execução de projetos corporativos de alto padrão!</p>
                            <a href="a-detto.html" target="_blank" class="btn btn-solid text-uppercase btn-md round border-thin font-size-13 text-uppercase ltr-sp-15 px-3 lh-175 py-1 mb-2">
                                <span> <span class="btn-txt">Saiba Mais</span> </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="news" class="vc_row pt-50 pb-50 bg-athens-gray">
        <div class="container">
            <div class="row">
                <div class="lqd-column col-md-6 col-md-offset-3 mb-70">
                    <header class="fancy-heading text-center"><h2 class="font-size-40 my-0">Produtos</h2></header>
                </div>
            </div>
            <div class="row">
                <div class="lqd-column col-md-12">
                    <div class="liquid-blog-grid liquid-blog-style-square row" data-liquid-masonry="true">
                        <div class="col-md-6 masonry-item">
                            <article class="liquid-lp liquid-blog-item liquid-blog-contents-inside liquid-blog-item-square liquid-blog-scheme-light round h-450">
                                <figure class="liquid-lp-media round" data-responsive-bg="true">
                                    <a href="cadeiras.html"> <img src="./assets/img/cavaletti.jpg" alt="Cadeiras" /> </a>
                                </figure>
                                <div class="liquid-blog-item-inner round">
                                    <header class="liquid-lp-header mt-auto">
                                        <h2 class="liquid-lp-title font-weight-bold h3 mb-0"><a href="cadeiras.html">Cadeiras</a></h2>
                                    </header>
                                </div>
                            </article>
                        </div>
                        <div class="col-md-3 col-sm-6 masonry-item">
                            <article class="liquid-lp liquid-blog-item liquid-blog-contents-inside liquid-blog-item-square liquid-blog-scheme-light round h-450">
                                <figure class="liquid-lp-media round" data-responsive-bg="true">
                                    <a href="mobiliarios.html"> <img src="./assets/img/mob.jpg" alt="Mobiliários" /> </a>
                                </figure>
                                <div class="liquid-blog-item-inner round">
                                    <header class="liquid-lp-header mt-auto">
                                        <h2 class="liquid-lp-title font-weight-bold h3 mb-0"><a href="mobiliarios.html">Mobiliários</a></h2>
                                    </header>
                                </div>
                            </article>
                        </div>
                        <div class="col-md-3 col-sm-6 masonry-item">
                            <article class="liquid-lp liquid-blog-item liquid-blog-contents-inside liquid-blog-item-square liquid-blog-scheme-light round h-450">
                                <figure class="liquid-lp-media round" data-responsive-bg="true">
                                    <a href="ambiente-externo.html"> <img src="./assets/img/tramontina.jpg" alt="Ambiente Externo" /> </a>
                                </figure>
                                <div class="liquid-blog-item-inner round">
                                    <header class="liquid-lp-header mt-auto">
                                        <h2 class="liquid-lp-title font-weight-bold h3 mb-0"><a href="ambiente-externo.html">Ambiente Externo</a></h2>
                                    </header>
                                </div>
                            </article>
                        </div>
                        <div class="col-md-3 col-sm-6 masonry-item">
                            <article class="liquid-lp liquid-blog-item liquid-blog-contents-inside liquid-blog-item-square liquid-blog-scheme-light round h-450">
                                <figure class="liquid-lp-media round" data-responsive-bg="true">
                                    <a href="persianas.html"> <img src="./assets/img/persiplus.jpg" alt="Persianas" /> </a>
                                </figure>
                                <div class="liquid-blog-item-inner round">
                                    <header class="liquid-lp-header mt-auto">
                                        <h2 class="liquid-lp-title font-weight-bold h3 mb-0"><a href="persianas.html">Persianas</a></h2>
                                    </header>
                                </div>
                            </article>
                        </div>
                        <div class="col-md-3 col-sm-6 masonry-item">
                            <article class="liquid-lp liquid-blog-item liquid-blog-contents-inside liquid-blog-item-square liquid-blog-scheme-light round h-450">
                                <figure class="liquid-lp-media round" data-responsive-bg="true">
                                    <a href="pisos.html"> <img src="./assets/img/pisoswk.jpg" alt="Pisos" /> </a>
                                </figure>
                                <div class="liquid-blog-item-inner round">
                                    <header class="liquid-lp-header mt-auto">
                                        <h2 class="liquid-lp-title font-weight-bold h3 mb-0"><a href="pisos.html">Pisos</a></h2>
                                    </header>
                                </div>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="features" class="vc_row pt-180 pb-70">
        <div class="container">
            <div class="row d-flex flex-wrap align-items-center">
                <div class="lqd-column col-md-6">
                    <div class="liquid-img-group-container mb-md-0">
                        <div class="liquid-img-group-inner">
                            <div class="liquid-img-group-single" data-shadow-style="4" data-roundness="4" data-inview="true" data-animate-shadow="true">
                                <div class="liquid-img-group-img-container">
                                    <div class="liquid-img-group-content content-floated-mid"></div>
                                    <div class="liquid-img-container-inner">
                                        <figure><img src="./assets/img/detto01.jpg" alt="Detto Mobiliário Corporativo" /></figure>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="lqd-column col-md-6 pl-md-6 pr-md-7">
                    <header class="fancy-title mb-35">
                        <h2 class="mt-0 mb-4 pr-md-5">Detto Mobiliário Corporativo</h2>
                        <p>
                            A Detto Mobiliário projeta e comercializa mobiliários que seguem as principais tendências internacionais do design, sempre atendendo as normas técnicas do setor e superando as expectativas de todos os clientes
                            pela beleza e integração dos produtos, trazendo um equilíbrio harmônico aos ambientes.
                        </p>
                    </header>
                    <a href="a-detto.html" target="_blank" class="btn btn-solid btn-sm semi-round btn-bordered border-thin fresco px-2 font-size-15">
                        <span> <span class="btn-txt">Saiba Mais</span> </span>
                    </a>
                </div>
            </div>
        </div>
    </section>
</main>
